body{
  background-color: #dac292;
  margin: auto;
  position: center;
}

h1{
  font: size 60px;
  font-family: 'times new roman';
  color: #5C4033;
  position: center;
  margin: auto;
  text-align: center;
  height: fit-content;
}

h2{
  font-size: 24px;
    font-family: 'comic sans MS';
   margin: 0 auto;
   color: brown;
   text-align: center;
}

tbody{
  background-color: #e6e2d3;
  position: 0 auto;
  column-width: auto;
  height: 20px;
  margin: 0 auto;
  text-align:center;
}

table{
  margin: 0 auto;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.header{
  background-image: url(head_background.png);
  background-size:auto 150px;
  background-repeat: no-repeat;
  background-color: white;
  opacity: 35%;
}
