body{
  background-color: #dac292;
}

h1{
  font-size: 35px;
  font-family: 'times new roman';
  color: #b9936c;
  position: center;
}

tbody .element{
  background-color: #e6e2d3;
  position: center;
  column-width: auto;
  height: 16px;
}