body{
  background-color: #dac292;
  margin: auto;
  position: center;
}

h1{
  font-size: 36px;
  font-family: 'times new roman';
  color: #b9936c;
  position: center;
}

h2{
  font-size: 24px;
    font-family: 'comic sans MS';
   margin: 0 auto;
   color: brown;
}

tbody{
  background-color: #e6e2d3;
  position: 0 auto;
  column-width: auto;
  height: 20px;
  margin: auto;
  text-align:center;
}


